body {
  font-family: 'Roboto', sans-serif;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}


.logo-img {
  width: 110px;
  height: 80px;

}

nav {
  border-bottom: 5px solid black;

}


ul {
  margin-top: 10px;
}

.login-logo {
  height: 40px;
  width: 40px;
  background-color: white;
}

.nav-item {
  margin: 10px;
  background-color: rgb(0, 183, 255);
}

.landing-container {
  display: flex;
  justify-content: center;

}

.fauci-img {
  /* min-width: 400px;
  min-height: 400px; */
  max-width: 900px;
  min-height: 900px;
  margin-right: 50px;
}
.landing-text {
  text-align: center;
  margin-top: 280px;

}

.landing-logo {
  height: 400px;
  width: 425px;
}

.fauci-text {
  font-size: 50px;
}

.btn {
  margin: 10px;
  background-color: rgb(255, 166, 0);
}

/* tips page */
.tips-page {
  background-image: url('/images/la.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100vh;


}

.tips-container {
  display: block;
  text-align: center;
  margin-top: 150px;
}

.tips-img-container {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 750px;
  background-color: white;
}

.second-row-container {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 750px;
  background-color: white;
}

.img {
  margin: 10px;
  padding: 10px;
  font-size: larger;
}

#h3 {
  font-size: 50px;
  background-color: white;
  border: 5px solid rgb(255, 196, 0);
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.tips-pg {
  font-size: 20px;
  background-color: rgba(247, 243, 243, 0.918);
  max-width: 750px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  text-align: justify;
}

#message-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}

/* Search page */
.results-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.results-div {
  margin: 25px;
  font-size: 25px;
}

.covid-info {
  font-size: 35px;
}

#googleMap {
  height: 700px;
  width: 75%;
  background-color: grey;
  margin: 40px;
}

.search-container {
  display: block;
  justify-content: center;
  padding: 300px;
  background-image: url('/images/la.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: auto;
}

#h1 {
  font-size: 60px;
  text-align: justify;
  margin-bottom: 30px;
}

.search-form {
  text-align: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 25px;
  width: fit-content;
}

.search-select, .search-input {
  height: 35px;
  margin-right: 10px;
}

.search-label {
  font-size: larger;
  margin-left: 10px;
}

.comment-container {
  display: block;
  justify-content: center;
  padding: 300px;
  background-image: url('/images/la.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.comments {
  font-size: 20px;
  background-color: rgba(247, 243, 243, 0.918);
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 15px;
}

.new-comment-div {
  margin-top: 20px;
}

.btn-danger {
  background-color: rgb(255, 166, 0);
  border: solid rgb(255, 166, 0);
  border-radius: 5px;
}
