<%- include('../partials/header') %>
<body class="tips-page">
    <div class="tips-container">
        <h3 id="h3">Follow these precautions</h3>
        <div class="tips-img-container">
            <div class="img">
                <img src="/images/maskicon.png" alt="">
                <p>Wear a face mask properly</p>
            </div>
            <div class="img">
                <img src="/images/distanceicon.png" alt="">
                <p>Maintain social distancing</p>
            </div>
            <div class="img">
                <img src="/images/washicon.png" alt="">
                <p>Wash your hands frequently</p>
            </div>
        </div>
        <div class="second-row-container">
            <div class="img">
                <img src="/images/shoticon.png" alt="">
                <p>Get a flu shot</p>
            </div>
            <div class="img">
                <img src="/images/cleanicon.png" alt="">
                <p>Clean and disinfect surfaces</p>
            </div>
        </div>
        <div class="tips-pg">
            <p>
                If you are sick or you've been exposed to the coronavirus, stay home except to get medical care. Contact your health care provider for medical advice or use our COVID-19 <a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">self-assessment tool</a>.
            </p>
            <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">Learn more</a> about coronavirus disease 2019 (COVID-19) and how it spreads.</p>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>